<nav class="navbar navbar-expand-md  navbar-dark fixed-top " style="background-color: rgb(90, 50, 90); ">
    <a routerLink="/home" class="navbar-brand" target="_blank" href=""><img src="https://www.pixweaver.com/service_logos/logo_20180325015241.gif" style="height:6vh;width: 10vw;" alt="Shopping-Cart">
    </a>
    
    <!-- Toggler/collapsibe Button -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
     <span class="navbar-toggler-icon" ></span>
</button>

<!-- Navbar links -->
<div class="collapse navbar-collapse" id="collapsibleNavbar"  >

    <ul class="navbar-nav" >
      <li class="nav-item" >
        <a routerLink="/home" class="nav-link"  style="color: white; "  ><i class='fas fa-home'></i><strong>HOME</strong></a>
      </li>
      <!-- <li class="nav-item">
        <a routerLink="/signin" class="nav-link"  style="color: white;"><i class="fa fa-user-circle"></i><strong>LOG IN </strong></a>
      </li>
      <li class="nav-item">
        <a routerLink="/signup" class="nav-link" style="color: white;"><i class="fas fa-user-plus"></i><strong>SIGN UP</strong></a>
      </li> -->
       <li class="nav-item">
        <a routerLink="/cart" class="nav-link" style="color: white;"><i class='fas fa-shopping-cart'></i><strong>CART</strong></a>
      </li> 
      <li class="nav-item"> 
        <a routerLink="/contact" class="nav-link" style="color: white;"><strong>CONTACT</strong></a>
      </li>
      <li class="nav-item" >
        <p ><i style="color: rgb(238, 84, 45);" class="fa fa-user" aria-hidden="true"></i>
          <strong style="color:rgb(250, 249, 208);font-size: x-large;">{{user}}</strong></p>
      </li>
    </ul>
</div>
</nav>