<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-12">
            <h2 style="text-align: center; color: rgb(137, 81, 177);margin-top: 40px;"><strong>OUR PRODUCTS</strong></h2>
        </div>
    </div>

     <div class="row" style="background-color: aliceblue;" *ngFor="let mydata of data">
       <div class="col-sm-4 " style="height:55vh;" *ngFor="let mydata1 of mydata" >
           <div class="item"  #a{{mydata1.id}} >
               <img src={{mydata1.img}} style="width: 60%; height:60%;" id="proimg" >
               <div class="row">
                   <div class="col-sm-7" style="text-align: left;" id="proname"><b style="text-decoration-color: crimson;">{{mydata1.name}}</b></div>
                   <div class="col-sm-5" style="text-align: right;" id="proprice"><b>:</b><i class='fas fa-rupee-sign'></i>{{mydata1.price}}</div>
              
               <div class="row" >
                   <div class="col-sm-4">
                       <button (click)="cartfun($event)" type="button" class="btn btn-danger"><i class='fas fa-shopping-cart'></i></button>
                   </div>
                   <div class="col-sm-8">
                       <button type="button" type="button" class="btn btn-danger"><i class="fa fa-heart"  ></i>{{mydata1.like}}</button>
                   </div>
                  
               </div>
              
           </div>
       </div>
     </div>
   </div>
   </div>